<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="first.Properties.Settings.MySqlServer" connectionString="Data Source=192.168.1.214;Persist Security Info=True;User ID=joe;Password=coff33"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>